
<!-- <div id="container"> -->
<div class="container" align="center">
	<div class="timeline_container">
      	  <div class="timeline">
         	 <div class="plus"></div>
          </div>
        </div>
    <% @application_alert.each do |alert| %>
         <div class= "item <%= alert.try(:severity) %>">
		 	<%= alert.try(:long_description) %> at <%= alert.try(:created_at).localtime %>
         </div>
    <% end %>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/
ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="jquery.masonry.min.js"/>
<script type="text/javascript" >
$(function()
{
// masonry plugin call
$('#container').masonry({itemSelector : '.item',});
});
</script>