// Place all the styles related to the ApplicationAlerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container{width:860px; margin: 0 auto; }
.item {
	width: 310px;
	margin: 20px 10px 10px 10px;
	float: left;
	padding: 10px;
	background-color:#ffffff;
	//border:solid 1px #B4BBCD;
	min-height:50px;
	text-align:justify;
	word-wrap:break-word; 
	color: #FFFFFF;
}
.downtime
{
	background-color: #9d261d;
}
.critical
{
	background-color:  #7daa37;
}
.timeline_container{
width: 16px;
text-align: center;
margin: 0 auto;
cursor:pointer;
display: block;
}
.timeline{
margin: 0 auto;
background-color:#e08989;
display: block;
float: left;
height: 100%;
left: 671px;
margin-top: 10px;
position: absolute;
width: 4px;
}
.timeline:hover{cursor: pointer;margin: 0 auto;}
.timeline div.plus{width: 14px;height: 14px;position: relative;left: -6px;}

.rightCorner { 
background-image: url("images/right.png");
display: block;
height: 15px;
margin-left: 408px;
margin-top: 8px;
padding: 0;
vertical-align: top;
width: 13px;
z-index:2;
position: absolute;
}
.leftCorner{
background-image: url("images/left.png");
display: block;
height: 15px;
width: 13px;
margin-left: -13px;
margin-top: 8px;
position: absolute;
z-index:2;
}
