<div class="appln_details">      
  <% @user_applications.each do |appln| %>
    <%= link_to application_alert_path(:id => appln.id) do %>
      <div class="server <%= appln.current_status %>">
        <table style="width: 100%">
          <tr>
             <td><span class="appname"><%= appln.name %></span></td>
             <td align="right"><span class="appstatus">Application is currently <%= appln.current_status %></span></td>
          </tr>
        </table>
      </div>
    <% end %>
  <% end %>
</div>